*{
	border:0;
	padding: 0;
	margin: 0;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-family: big john;
	width: 100%;
	height: 100px;
}

h2 {
	font-size: 60px;
	background-color: #eee;
	padding: 8px 24px;
	border-radius: 16px;
}

.north {
	background-image: url('../images/north.jpg');
	background-size: cover;
}

.south {
	background-image: url('..images/south.jpg');
	background-size: cover;
}

.europe {
	background-image: url('..images/europe.jpg');
	background-size: cover;
}

.asia {
	background-image: url('..images/asia.jpg');
	background-size: cover;
}

.africa {
	background-image: url('..images/africa.jpg');
	background-size: cover;
}

.aussie {
	background-image: url('..images/aussie.jpg');
	background-size: cover;
}

.antar {
	background-image: url('..images/antar.jpg');
	background-size: cover;
}