/* Setting the main border, padding and margin around all elements on the page */
*{
	border:0;
	padding: 0;
	margin: 0;
}

/*Styling for all that is within the header: navigation, logo, images, etc*/

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: white;
	border-bottom: 4px solid #ff5757;
}

.logo {
	max-width: 280px;
	height: auto;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 94px;
}

/* Place space between the links  and style links*/

li{
	padding: 8px;
	margin: 59px;
	color: red;
	box-shadow: 7px 7px #ff5757;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
}

/* Style links so that they don't appear to have blue link before/after clicked*/

nav a:link,
nav a:visited {
	color: black;
	text-decoration: none;
	padding: 18px 10px;
}

nav a:hover {
	color: red;
}

.logoLink {
	text-decoration: none;
	border: none;
	box-shadow: none;
}

/* Styling the form on the contact page  NEED TO ADD JAVASCRIPT IN SOME WAY TO THIS PAGE*/

.main {
	background-image: url('../../images/contact.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	opacity: 0.7;
	display: flex;
	flex-wrap: wrap;
}

#contact-form {
	justify-content: center;
}


form {
	margin: 100px 50px;
	transition: all 4s ease-in-out;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.form-control {
	width: 500px;
	background: transparent;
	border: none;
	outline: all;
	border-bottom: 1px solid #ff5757;
	color: black;
	font-size: 28px;
	margin-bottom: 16px;
	font-family: 'Liu Jian Mao Cao', cursive;
}

input {
	height: 45px;
}

form .submit{
	background: #ff5757;
	border-color: transparent;
	color: black;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
	height: 50px;
	margin-top: 20px;
	font-family: 'Fjalla One', sans-serif;
}

form .submit:hover{
	background-color: white;
	cursor: pointer;
}


/* These styles below are targetting the footer */

footer {
	height: 20px;
	display: inline-block;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	width: 100%;
}

h4 {
	font-family: 'Fjalla One', sans-serif;
	size: 16px;
	text-align: center;
	color: #ff5757;
}

#footer {
	size: 2px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

